[wled]
ip = "192.168.1.150"
port = 21324
timeout_seconds = 2

[video]
device = "/dev/video0"
cap_w = 640
cap_h = 480
cap_fps = 30
crop_to_16_9 = true

[sampling]
sample_w = 160
sample_h = 90
edge_margin = 3
patch_r = 2
auto_crop_black_bars = true
crop_luma_threshold = 16      # 12..30 typical
crop_min_percent = 0.08       # 0.05..0.15: how much of the row/col must be "bright"
crop_pad = 2                  # pixels of padding in the downsampled image
crop_min_w = 80               # don't crop smaller than this
crop_min_h = 45

[layout]
right = 17
top = 26
left = 15
bottom = 11
start_corner = "bottom_right"
direction = "ccw"

[effects]
out_fps = 30
smooth_alpha = 0.70
max_step_per_frame = 128
black_luma_threshold = 12
black_chroma_threshold = 10
scene_cut_luma_jump = 20
scene_cut_boost_mult = 3.0
sat_boost = 1.35
val_boost = 1.05
